#projects-content {
    /* Sizing */
    width: 100%;
    height: 100%;
}
#projects-body {
    float: left;
    /* Sizing */
    width: 50%;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-weight: 500;
    color: #444f;
}
#projects-title {
    /* Font Settings */
    font-size: 3em;
}
#projects-description {
    /* Font Settings */
    font-size: 1.25em;
}
#projects-list {
    position: relative;
    /* Spacing */
    margin: 3vh 0 0 0;
}
#projects-image {
    /* Sizing */
    width: 40%;
}
#projects-image img {
    width: 90%;
}
.projects-list-project {
    justify-content: left !important;
    align-items: baseline !important;
    /* Font Settings */
    line-height: 3vh;
    text-decoration: none;
    color: #444f;
    /* Spacing */
    margin: 0 0 0 0;
    padding: 0.25vh 0;
    /* Animation */
    transition: margin 0.25s;
}
.projects-list-project:hover {
    margin: 0 0 0 0.25vw;
}
.projects-list-project-title {
    /* Font Settings */
    font-size: 1.5em;
    /* Sizing */
    width: 14vw;
}
.projects-list-project-description {
    font-size: 1em;
}
.projects-list-project-arrow {
    /* Positioning */
    position: absolute;
    left: -1.2vw;
    /* Font Settings */
    font-size: 1.25em;
    color: #fff0;
    /* Animation */
    transition: color 0.25s;
}
.projects-list-project:hover .projects-list-project-arrow {
    /* Coloring */
    color: #444f;
}
/* Small Browser Window */
@media screen and (max-width: 1575px)
{
    #projects-image {
        display: none !important;
    }
    .projects-list-project {
        flex-direction: column;
        /* Spacing */
        padding: 0.33vh 0;
    }
    .projects-list-project:hover {
        margin: 0 0 0 1vw;
    }
    .projects-list-project-arrow {
        display: none !important;
    }
    .projects-list-project-title {
        width: 100%;
    }
}
/* Phones */
@media screen and (max-width: 700px)
{
    #projects {
        height: 100vh !important;
    }
    .projects-list-project {
        padding: 0;
        margin: 0;
    }
    .projects-list-project-title {
        font-size: 3em;
    }
    .projects-list-project-description {
        font-size: 1.3em;
        line-height: 2em;
    }
}