/* Variables */
:root {
    /* Media Query Sizing */
    --small-page: 1575px;
    --phone-page: 1000px;
}
/* Smoothing */
* {
    scroll-behavior: smooth;
    margin: 0;
}
/* Fit to Entire Page */
body {
    height: 100%;
    min-width: 100vw;
    overflow-x: hidden;
}
/* Centered */
.centered {
    /* Sizing */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Global Page Settings */
.page {
    /* Positioning */
    position: relative;
    /* Display */
    overflow: hidden;
    display: block;
    /* Sizing */
    width: 100vw;
    height: 100vh;
}
