#fp {
    width: 100vw;
    /* background-color: #FED4F8; */
    background-color: var(--bg);
}
#fp-title {
    position: absolute;
    /* Font Settings */
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 6vh;
    /* Sizing */
    height: 20vh;
    padding: 5vh;
    /* Positioning */
    left: 50vw;
    top: 35vh;
    /* Coloring */
    color: var(--text-color);
}
#fp-welcome p {
    vertical-align: center;
}
#fp-image {
    position: absolute;
    /* Sizing */
    height: 40vh;
    /* Positioning */
    top: 30vh;
    right: 55vw;
    /* Appearance */
    image-rendering:crisp-edges;
}
#fp-links {
    margin-top: 2vh;
    /* Positioning */
    float: left;
}
.fp-link a {
    width: 3vw;
}
.fp-link img {
    image-rendering: crisp-edges;
    height: 3vh;
}