:root {
    --transition-time: 0.5s;
}

#fp-content {
    height: 100%;
    background-color: #ffd4f9;
}
.fp-content-half {
    box-sizing: border-box;
    /* Display */
    display: inline-flex !important;
    float: left;
    /* Sizing */
    width: 50vw;
    height: 100vh;
}
#fp-logo {
    /* Sizing */
    width: 75%;
}
#fp-content-left {
    /* Sizing */
    padding: 5%;
}
#fp-title {
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-size: 3em;
}
.lp-section {
    flex-direction: column;
    overflow: hidden;
    /* Display */
    float: left;
    display: inline-flex !important;
    /* Sizing */
    width: 25vw;
    height: 100vh;
}
.lp-section-content {
    position: relative;
    /* Sizing */
    width: 100%;
    height: 100%;
}
.lp-section-content p {
    position: absolute;
    bottom: 0;
    /* Sizing */
    width: 100%;
    padding: 2vh 0;
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 2.5em;
    text-decoration: none;
    text-align: center;
    /* Coloring */
    background-color: #ffff;
    color: #444f;
    /* Animation */
    transition: font-size var(--transition-time), background-color var(--transition-time), padding var(--transition-time);
}
.lp-section-content img {
    position: relative;
    /* Sizing */
    height: 110%;
    /* Filter */
    filter: grayscale(60%);
    /* Animation */
    transition: filter var(--transition-time), height var(--transition-time);
}
.lp-section-content#projects img {
    left: -70%;
}
.lp-section-content:hover>p {
    /* Font Settings */
    background-color: #ffd4f9;
    padding: 4vh 0;
    /* font-size: 4em; */
}
.lp-section-content:hover>img {
    /* Sizing */
    height: 130%;
    /* Filter */
    filter: grayscale(0%);
}