:root {
    --transition-time: 0.5s;
}
#fp-content {
    flex-direction: row;
    flex-wrap: wrap;
    /* Positioning */
    position: absolute;
    /* Sizing */
    height: 100%;
    width: 100%;
    /* Coloring */
    color: #000;
    background-color: #fff;
}
#fp-body {
    /* Positioning */
    position: absolute;
    top: 10%;
    /* Sizing */
    width: 100%;
}
#fp-body p {
    width: 100%;
}
#fp-body-content {
    flex-wrap: wrap;
    width: 500px
}
#fp-body #greetings {
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 400%;
    font-weight: 600;
    line-height: 110%;
}
#fp-body #desc {
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 120%;
}
#fp-image {
    /* Positioning */
    position: absolute;
    bottom: 0;
    /* Sizing */
    height: 65%;
    width: auto;
}
#fp-image img {
    object-fit: contain;
    /* Sizing */;
    height: 100%;
    width: auto;
}

.ab-content-half {
    /* Sizing */
    width: 50%;
    height: 100%;
}
#ab {
    /* background-color: #ffd4f9; */
    background-color: #000;
}
#ab-content {
    height: 100%;
    color: #fff;
}
#ab-body {
    /* Sizing */
    height: 100%;
    padding: 5%;
}
#ab-body-content {
    flex-wrap: wrap;
}
#ab-body-content #title {
    /* Positioning */
    text-align: left;
    /* Sizing */
    width: 100%;
    height: 10%;
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 300%;
    font-weight: 600;
}
#ab-body-content #content {
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 120%;
    line-height: 140%;
    font-weight: 500;
    text-align: justify;
}
#ab-image {
    /* Positioning */
    position: relative;
}
#ab-image img {
    position: absolute;
    height: 90%;
    bottom: 0;
}
