#dhstixv1 {
    background-color: #000f !important;
}
#dhstixv1-page-background {
    display: none;
    /* Positioning */
    z-index: -1;
    position: absolute;
    top: 0;
}
#dhstixv1-page {
    /* Sizing */
    width: 30vw;
    /* Spacing */
    margin-top: 25vh;
    margin-left: 35vw;
    /* Font Settings */
    font-family: "Work Sans";
    font-weight: 600;
    color: rgb(0, 255, 0);
}
#dhstixv1-page-title {
    /* Spacing */
    margin-left: -0.2vw;
    margin-bottom: -2%;
    /* Font Settings */
    font-size: 4em;
}
#dhstixv1-page-subtitle, #dhstixv1-version {
    /* Font Settings */
    font-size: 0.8em;
}
#dhstixv1-page-content {
    /* Spacing */
    margin-top: 2vh;
}
#dhstixv1-page-content-about {
    /* Spacing */
    margin-top: 0.5vh;
    text-align: justify;
}
#dhstixv1-page-links {
    /* Spacing */
    margin-top: 4vh;
}
#dhstixv1-page-links a {
    /* Spacing */
    padding: 2%;
    margin-right :2%;
    /* Coloring */
    color: #0f0;
    background-color:#0000;
    /* Border */
    border: #0f0;
    border-width: 2px;
    border-style: solid;
    /* Font Settings */
    text-decoration: none;
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: #0000;
    text-decoration-thickness: 2px;
    /* Animate */
    transition: text-decoration-color 0.5s;
}
#dhstixv1-page-links a:hover {
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: color;
    text-decoration-thickness: 2px;
}
#ft {
    color: #0f0 !important;
}