:root {
    --dhstixv1-color: #00ff00;
    --dhstixv1-bg: #000f;
    --nb-text-color: var(--dhstixv1-color) !important;
    --nb-bg: var(--dhstixv1-bg) !important;
}
#dhstixv1 {
    background-color: var(--dhstixv1-bg) !important;
}
#dhstixv1-content {
    width: 100vw;
}
.dhstixv1-bar {
    float: left;
    display: inline-flex !important;
    /* Sizing */
    width: 20vw;
    height: 100vh;
    /* Coloring */
    background-color: var(--dhstixv1-bg);
    /* Font Settings */
    font-family: "DM Mono", monospace;
    
}
.dhstixv1-bar-content {
    /* Spacing */
    padding: 5%;
    /* Sizing */
    height: 80%;
    width: 60%;
    /* Coloring */
    background-color: var(--dhstixv1-color);
}
.dhstixv1-bar-content#blank {
    /* Sizing */
    width: 90% !important;
    /* Coloring */
    background-color: var(--dhstixv1-bf) !important;
    color: var(--dhstixv1-color) !important;
}
.dhstixv1-bar-content#about {
    flex-direction: column;
}
#dhstixv1-title {
    /* Transform */
    transform: rotate(-90deg);
    /* Font Settings */
    font-size: 6em;
    font-weight: 500;
    white-space: nowrap;
}
#dhstixv1-links {
    /* Spacing */
    margin-top: 10%;
    /* Sizing */
    width: 100%;
}
#dhstixv1-links a {
    /* Font Settings */
    color: var(--dhstixv1-bg);
    font-weight: 500;
    text-align: left;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}