#minefob-page-background {
    /* Positioning */
    z-index: -1;
    position: absolute;
    top: 0;
}
#minefob-page {
    flex-direction: column;
    /* Sizing */
    width: 30vw;
    height: 100vh;
    /* Spacing */
    margin-left: 7.5%;
    /* Font Settings */
    font-family: "Work Sans";
    font-weight: 600;
    color: #fff;
}
#minefob-page-header {
    /* Sizing */
    width: 100%;
}
#minefob-page-title {
    /* Spacing */
    margin-left: -0.4vw;
    margin-bottom: -1.5vh;
    /* Font Settings */
    font-size: 4em;
}
#minefob-page-subtitle {
    /* Font Settings */
    font-size: 0.8em;
}
#minefob-page-content {
    /* Spacing */
    margin-top: 2vh;
}
#minefob-page-content-about {
    /* Spacing */
    margin-top: 0.5vh;
    /* Font Settigns */
    text-align:justify;
    text-justify: newspaper;
}
#minefob-page-links {
    flex-direction: row;
    /* Sizing */
    width: 100%;
    /* Spacing */
    margin-top: 4vh;
}
#minefob-page-links a {
    /* Spacing */
    padding: 2%;
    margin-right :2%;
    /* Coloring */
    color: #fff;
    background-color:rgb(78, 108, 165);
    /* Font Settings */
    text-decoration: none;
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: #0000;
    text-decoration-thickness: 2px;
    /* Animate */
    transition: text-decoration-color 0.5s;
}
#minefob-page-links a:hover {
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: color;
    text-decoration-thickness: 2px;
}
#ft {
    color: #fff !important;
}