/* CSS Clear */
a,p { margin: 0; }
/* Fit to Entire Page */
html, body {
    margin: 0;
    height: 100%;
}

/* Shared Navbar / Footer */
.footer, .navbar {
    z-index: 2;
    /* Positioning */
    position: absolute;
    left: 0;
    width: 100vw;
    /* Coloring */
     background-color: #ffffff;
}

/* Navbar */
.navbar { top: 0; }
.navbar a {
    /* Positioning */
    float: left;
    text-align: center;
    padding: 10px 30px;
    /* Font Settings */
    font-family: "DM Serif Text", serif;
    font-size: 17px;
    color: #bf0576ff;
    text-decoration: none;
    /* Animation */
    transition: color 0.33s ease-in-out, background-color 0.166s ease-in-out;
}
.navbar a:hover {
    color: #ffffff;
    background-color: #bf0576ff;
}

/* Footer */
.footer {
    /* Positioning */
    bottom: 0;
}
.footer p {
    /* Font Settings */
    color: #000000;
    font-family: "DM Mono", sans-serif;
    font-size: 1em;
    text-align: center;
    /* Spacing */
    padding: 0.5%;
}
.footer a {
    /* Font Settings */
    text-decoration: none;
    color: #F238A9;
    font-weight: 600;
}


.navbar:a {
    color: black;
}

/* Front Page */
.frontpage {
    z-index: 1;
    /* Color */
    background-color:#bf0576ff;
    /* Sizing */
    height: 100vh;
    width: 100vw;
    min-height: 100vmin;
    min-width: 100vw;
    max-width: 100vw;
    /* Align Children */
    display: flex;
    justify-content: center;
    align-items: center;
}
.frontpagecontent p {
    /* Font Settings */
    font-family: "DM Serif Display", serif;
    font-size: 5em;
    color: #ffffff;
}
.frontpagelinks a {
    /* Spacing */
    margin-right: 1%;
    /* Font Settings */
    font-family: "DM Serif Text", serif;
    font-size: 1.5em;
    color: #E8A4CD;
    /* Link Settings */
    text-decoration: none;
    /* Animation */
    transition: color 0.33s ease-in-out;
}
.frontpagelinks a:hover {
    color: #F9E8F3;
}