#ft {
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-weight: 500;
    font-size: 0.8em;
    /* Coloring */
    color: #ffff;
    background-color: #444f;
    /* Position */
    position: absolute;
    /* Sizing */
    height: 10vh;
    width: 100%;
}
#ft #left {
    width:47vw;
    justify-content: left;
}
#ft #right {
    width:47vw;
    justify-content: right;
}
#ft #right img {
    height: 9vh;
    image-rendering: crisp-edges;
}