/* Copyright 
#ft {
    z-index: 2;
    /* Positioning *
    position: fixed;
    bottom: 1vh;
    width: 100vw;
    /* Font Settings *
    font-family: "DM Mono", monospace;
    font-size: 0.75em;
}*/

#ft {
    /* Coloring */
    background-color: var(--text-color);
    color: #ffff;
    /* Sizing */
    height: 5vh;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 0.8em;
    font-weight: 500;
}
#ft-content {
    margin-right: 25%;
}