#nb {
    z-index: 2;
    /* Sizing */
    width: 100vw;
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    /* Coloring */
    background-color: var(--nb-bg);
}
.nb-link {
    display: block;
    /* Sizing */
    padding: 1.5vh 2vw;
    /* Coloring */
    color: var(--nb-text-color);
}
.nb-link a {
    text-align: center;
    /* Font Settings */
    font-family: "Work Sans", monospace;
    font-weight: 600;
    font-size: 1.08em;
    color: inherit;
    white-space: nowrap;
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: #0000;
    text-decoration-thickness: 3px;
    /* Animate */
    transition: text-decoration-color 0.5s;
}
.nb-link:hover > a {
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: color;
    text-decoration-thickness: 3px;
}
.nb-link-unavailable a {
    /* Text Decoration */
    /* font-style: italic; */
    text-decoration: none !important;
    color: #999;
}
.nb-dropdown {
    position: relative;
}
.nb-dropdown-container {
    display: none;
    /* Sizing */
    padding: 1vh 0vw;
    /* Positioning */
    z-index: 2;
    position: absolute;
    left: 0;
    top: 100%;
    /* Coloring */
    background-color: var(--nb-bg)
}
.nb-dropdown:hover .nb-dropdown-container {
    display: block;
}