/* Smoothing */
* { scroll-behavior: smooth; }
/* Animation */
a { 
    /* Animation */
    transition: color 0.33s ease-in-out;
    -webkit-transition: color 0.33s ease-in-out;
}
.centered {
    /* Sizing */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS Clear */
a,p { margin: 0; }

/* Fit to Entire Page */
body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: white;
}

/* All Pages */
#frontpage, #linkspage, #aboutpage {
    z-index: 1;
    /* Sizing */
    height: 100vh;
    width: 100vw;
    min-height: 100vmin;
    min-width: 100vw;
    max-width: 100vw;
}

/* Front Page */
#frontpage {
    /* Color */
    background-color:#bf0576ff;
}
#frontpagecontent p {
    /* Font Settings */
    font-family: "DM Serif Display", serif;
    font-size: 5em;
    color: #ffffff;
}
#frontpagelinks a {
    /* Spacing */
    margin-top: 1.5vh;
    margin-left: 3vw;
    margin-right: 3vw;
    float: left;
    /* Font Settings */
    font-family: "DM Serif Text", serif;
    font-size: 1.75em;
    color: #E8A4CD;
    text-decoration: none;
}
#frontpagelinks a:hover {
    color: #F9E8F3;
}

/* Links Page */
#linkspage {
    /* Color */
    background-color: #ffffff;
}
#linkspagecontent {
    width: 100%;
    /* Spacing */
    padding-left: 25vw;
    padding-right: 25vw;
}
.linkspagelink {
    /* Spacing */
    display: flex;
    justify-content: left;
    align-items: baseline !important;
    /* Sizing */
    width: 100%;
}
.linkspagelink .site {
    /* Font Settings */
    font-family: "DM Serif Text", serif;
    font-size: 4.125em;
    text-decoration-color: #00000000;
    color: #bf0576ff;
    /* Animation */
    transition: text-decoration-color 0.33s ease-in-out;
    -webkit-transition: text-decoration-color 0.33s ease-in-out;
}
.linkspagelink .site:hover {
    text-decoration: underline;
}
.linkspagelink .sitedesc {
    /* Font Settings */
    font-family: "DM Serif Text", serif;
    color: #E8A4CD;
    font-size: 2.125em;
    /* Spacing */
    padding-left: 2%;
}

/* About Page */
#aboutpage {
    /* Color */
    background-color: #ffffff
}
#aboutpagecontent {
    /* Padding */
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 5vw;
    background-color: #F9E8F3
}
#aboutpagecontent p {
    /* Font Settings */
    font-family: "DM Sans", serif;
    font-size: 1.25em;
    line-height: 2em;
    color: #000000;
    text-align: justify;
    /* Spacing */
    margin: 2vh;
}
#aboutpagequote {
    /* Spacing */
    padding-right: 10vw;
    /* Background Settings */
    background-image: url("/images/quote.png");
    background-repeat: no-repeat;
    background-size: contain; 
}