@media only screen and (max-width: 980px) {
    /* Front Page */
    #frontpage {
        /* Spacing */
        padding: 3vw;
    }
    #frontpagecontent p {
        /* Font Settings */
        font-family: "DM Serif Display", serif;
        font-size: 12em;
        color: #ffffff;
    }
    #frontpagelinks a {
        /* Spacing */
        font-size: 4em;
    }

    #aboutpage {
        /* Sizing */
        height: 100vh;
    }
    #aboutpagecontent p {
        /* Font Settings */
        font-family: "DM Sans", serif;
        font-size: 3.5em;
        line-height: 1.5em;
        color: #000000;
        text-align: justify;
        /* Spacing */
        margin: 2vh;
    }
    #aboutpagequote {
        /* Spacing */
        padding-right: 10vw;
        /* Background Settings */
        background-image: url("/images/quote.png");
        background-repeat: no-repeat;
        background-size: contain; 
    }
}