/* Variables */
:root {
    --text-color: #444;
    --pink: #fed4f8;
}
/* Smoothing */
* {
    scroll-behavior: smooth;
    margin: 0;
}
/* Fit to Entire Page */
html, body {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
/* Centered */
.centered {
    /* Sizing */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Global Page Settings */
.page {
    position: relative;
    /* Display */
    overflow: hidden;
    display: block;
    /* Sizing */
    width: 100vw;
    height: 100vh;
}

#fp {
    width: 100vw;
    /* background-color: #FED4F8; */
    background-color: white;
}
#fp-welcome {
    position: absolute;
    /* Font Settings */
    font-family: "DM Mono";
    font-weight: 500;
    font-size: 4em;
    color: var(--text-color);
    /* Sizing */
    height: 20vh;
    /* Positioning */
    left: 5vw;
    top: 40vh;
}
#fp-welcome p {
    vertical-align: center;
}
#fp-image {
    position: absolute;
    /* Sizing */
    height: 60vh;
    /* Positioning */
    top: 20vh;
    right: -10vw;
    /* Appearance */
    image-rendering:crisp-edges;
}
/* Copyright */
#copyright {
    z-index: 2;
    /* Positioning */
    position: fixed;
    bottom: 1vh;
    width: 100vw;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 0.75em;
}