/* Smoothing */
* { scroll-behavior: smooth; }
/* Variables */
:root {
    /* Colors */
    --primary-color: #bf0576;
    --primary-dimmed: #E8A4CD;
    --secondary-color: #fff;
    --background-color: rgba(0, 0, 0, 0);
/* 
    --primary-color: #fff;
    --secondary-color: #bf0576; */

    /* Sizing */
    --main-window-width: 80vw;
    --mobile-window-width: 100vw;
}
/* Centered */
.centered {
    /* Sizing */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* CSS Clear */
a,p,ul { margin: 0; }

/* Fit to Entire Page */
body {
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    background-color: var(--background-color);
}

#bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* All Pages */
#homepage {
    z-index: 1;
    /* Sizing */
    width: var(--main-window-width);
    min-height: 100vh;
    min-width: var(--main-window-width);
    max-width: var(--main-window-width);
    /* Positioning */
    right: 0;
    position: absolute;
}

/* Home Page */
#homepage {
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    color: var(--primary-color);
    /* Color */
    background-color: var(--background-color);
}
#homepagecontent {
    width: 100%;
    /* Spacing */
    padding: 6vh 5vw;
    background-color: var(--secondary-color);
}
#homepagetitle {
    /* Font Settings */
    font-weight: 500;
    font-size: 4em;
    font-family: Fruktur, serif;
    color: var(--primary-color);
    user-select: none;
    /* Positioning + Sizing */
    justify-content: left !important;
    height: 10vh;
}
#homepagebodytitle {
    /* Font Settings */
    font-weight: 900;
}
.homepageparagraph {
    /* Spacing */
    margin-top: 1.5vh;
    /* Font Settings */
    font-size: 1em;
    line-height: 1.5em;
    text-align: justify;
    text-justify: distribute;
}
#bodyemail {
    font-family: "DM Mono", monospace;
    font-size: 0.9em;
}

/* Scroll Notification */

#scrollnotif {
    z-index: 2;
    /* Animation */
    animation: slideDown 2s ease-in-out 3s infinite alternate-reverse both;
    /* Positioning */
    position: absolute;
    bottom: 10%;
    width: 100vw;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 1.25em;
    font-weight: bold;
    letter-spacing: -0.15em;
}
#scrollnotifcontent {
    /* Animation */
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-delay: 3s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    /* Appearance */
    transform: rotate(90deg);
    color: var(--secondary-color);
}
@keyframes fadeIn {
    from { color: var(--secondary-color); }
    to { color: var(--primary-color); }
}
@keyframes slideDown {
    from { bottom: 8%; }
    to { bottom: 12%; }
}

@media only screen and (hover: none) and (pointer: coarse) {
    :root {
        --main-window-width: 100vw;
    }
    #homepagetitle {
        padding-top: 3vh;
    }
    .homepageparagraph {
        /* Font Settings */
        font-size: 2.5em !important;
        padding-top: 2vh;
    }
}
