/* Global */
#navbar * {
    /* Font Settings */
    font-family: 'DM Sans', monospace;
    font-weight: 600;
    font-size: 1em;
    text-decoration: none;

    /* Resets */
    margin: 0;
    padding: 0;
}

#navbar {
    /* Padding */
    z-index: 999;    
    margin-top: 2.5vw;
    margin-left: 2.5vw;
    /* Positioning  and Sizing */
    position: static;
    float: left;
    /* Coloring */
    background-color: #fff;
}
#navbar .navbarlink {
    /* Padding */
    margin-right: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    /* Positioning */
    position: relative;
    float: left !important;
    /* Coloring */
    color: #bf0576;
    /* Animation */
    transition: color 0.25s, background-color 0.25s;
}
#navbar .navbarlink:hover {
    /* Coloring */
    color: #fff;
    background-color: #bf0576;
}

/* Copyright */
#copyright {
    z-index: 2;
    /* Positioning */
    position: fixed;
    bottom: 0;
    /* Sizing */
    width: 100vw;
    height: 5vh;
    margin-top: 4vh;
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 0.85em;
    color: #9999; 
}

@media only screen and (max-width: 16cm) {}