#nb {
    z-index: 2;
    /* Sizing */
    width: 100vw;
    /* Positioning */
    position: fixed;
    top: 0;
    left: 0;
    /* Coloring */
    background-color:#fff;
}
.nb-link {
    cursor: pointer;
    /* Sizing */
    padding: 2vh 0.5vw;
    width: 7.5vw;
    /* Coloring */
    color: #444;
}
.nb-link a {
    /* Font Settings */
    font-family: "Work Sans", monospace;
    font-weight: 500;
    font-size: 1.25em;
    color: inherit;
    /* Text Decoration */
    text-decoration: underline;
    text-decoration-color: #fff;
    text-decoration-thickness: 3px;
    /* Animate */
    transition: text-decoration-color 0.5s;
}
.nb-link:hover a {
    text-decoration: underline;
    text-decoration-color: color;
    text-decoration-thickness: 3px;
}
.nb-dropdown-container {
    /* Positioning */
    position: relative;
    display: inline-block;
}
.nb-dropdown-link {
    position: absolute;
}
.nb-dropdown:hover .nb-dropdown-container {
    display: inline-block;
}

/* Currently NOT IN USE */
#ffeat-nb-link a {
    /* Coloring */
    color:darkturquoise;
    /* background-image:;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}