#sidebar, #copyright {
    /* Spacing */
    padding: 0;
    margin: 0;
}
/* Shared Navbar / Footer */
#sidebar {
    z-index: 3;
    /* Positioning */
    position: fixed;
    left: 0;
    /* Sizing */
    width: 20vw;
    height: 100vh;
    /* Coloring */
    background-color: var(--secondary-color);
}
#uppersidebar, #lowersidebar {
    /* Positioning + Sizing */
    position: absolute !important;
    width: 100%;
}
/* Positioning */
#lowersidebar { bottom: 2vh; }

#sidebar a, #sidebar p {
    display:block !important;
    box-sizing: border-box;
    /* Positioning + Sizinng */
    width: 100%;
    text-align: left;
    padding: 2vh 5vw;
    /* margin: 1vw 0vw; */
    /* Font Settings */
    font-family: "DM Sans", sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color:var(--primary-color);
    text-decoration: none;
    /* Decoration */
    background-color: var(--secondary-color);
}
/* Lower Navbar Tweaks */
#lowersidebar #title {
    font-size: 1em !important;
    padding-bottom: 0;
}
#lowersidebar .contactinfo {
    font-size: 0.75em;
    padding-top: 0;
}
/* Upper Navbar Effects */
#sidebar .hoveranim {
    /* Animation */
    transition: background-color 0.25s ease-in-out, color 0.3s ease-in-out;
    -webkit-transition: background-color 0.25s ease-in-out, color 0.3s ease-in-out;
}
#sidebar .hoveranim:hover {
    /* Animation on Hover */
    background-color: var(--primary-color) !important;
    color: var(--secondary-color) !important;
}

/* Hamburger */
#hamburger {
    display: none;
}

/* Email Hover Reveal
#sidebar #email::after {
    content: "EMAIL";
}
#sidebar #email:hover::after {
    content: "contact@fivesixfive.dev";
}

/* Text Hover Reveal
#sidebar #phone::after {
    content: "PHONE";
}
#sidebar #phone:hover::after {
    content: "334~801~1530";
} */

/* Copyright */
#copyright {
    z-index: 2;
    /* Positioning */
    position: fixed;
    bottom: 0;
    /* Sizing */
    width: 100vw;
    height: 2.5vh;
    margin-top: 4vh;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 0.75em;
    color: var(--primary-color); 
}

@media only screen and (hover: none) and (pointer: coarse) {
    /* Hamburger */
    #hamburger {
        /* Appearance */
        display: flex !important;
        transform: rotate(90deg);
        z-index: 4;
        /* Positioning */
        position: fixed;
        right: 0;
        /* Sizing */
        width: 5vh;
        height: 5vh;
        /* Spacing */
        top: 3%;
        right: 5%;
        /* Coloring */
        color: var(--primary-color);
        background-color: var(--secondary-color);
    }
    #hamburger a {
        /* Font Settings */
        font-family: "DM Mono", monospace;
        font-size: 4em;
        font-weight: 900;
        letter-spacing: -0.25em;
        color:var(--primary-color);
        user-select: none;
    }
    /* Shared Navbar / Footer */
    #sidebar {
        left: 100vw;
        /* Sizing */
        width: 100vw;
        height: 100vh;
        /* Transition */
        transition: left 0.5s ease-in-out;
        -webkit-transition: left 0.5s ease-in-out;
    }

    #sidebar a, #sidebar p {
        /* Font Settings */
        font-size: 3.5vh;
        font-weight: normal;
    }

    #lowersidebar #title {
        font-size: 3em !important;
    }
    #lowersidebar .contactinfo {
        font-size: 2em;
    }

    /* Copyright */
    #copyright {
        display: none;
    }
}