#sidebar, #footer, #copyright {
    /* Spacing */
    padding: 0;
    margin: 0;
}
/* Shared Navbar / Footer */
#sidebar {
    z-index: 2;
    /* Positioning */
    position: fixed;
    right: 0;
    /* Sizing */
    width: 20vw;
    height: 100%;
    /* Coloring */
    background-color: white;
}
#uppersidebar, #lowersidebar {
    /* Positioning + Sizing */
    position: absolute !important;
    width: 100%;
}
/* Positioning */
#uppersidebar { top: 5vh; }
#lowersidebar { bottom: 2.5vh; }

#sidebar a {
    display: block !important;
    /* Positioning + Sizinng */
    width: 100%;
    text-align: center;
    padding: 0.5vw 0vw;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 1em;
    font-weight: bold;
    color:#bf0576ff;
    text-decoration: none;
}
#lowersidebar>.hoveranim {
    font-size: 0.75em;
}
#sidebar .hoveranim {
    /* Animation */
    transition: color 0.33s ease-in-out, background-color 0.166s ease-in-out;
    -webkit-transition: color 0.33s ease-in-out, background-color 0.166s ease-in-out;
}
/* Navbar Effects */
#sidebar .hoveranim:hover {
    color: white;
    background-color: #bf0576ff;
}

/* Copyright */
#copyright {
    z-index: 2;
    /* Positioning */
    position: fixed;
    bottom: 0;
    /* Sizing */
    width: 100vw;
    height: 2.5vh;
    margin-top: 4vh;
    /* Font Settings */
    font-family: "DM Mono", monospace;
    font-size: 0.75em;
    color: #9999; 
}